<h2 id="adminProfile">Admin profile</h2>
<div class="userHud">
    <img src="{{data.image}}" alt="admin_image">
    <div class="info">
    <p>Username: {{data.username}}</p>  
    <p>Email: {{data.email}}</p>  
    <p>Admin ID: {{data._id}}</p>    
    </div>
</div>
<div class="buttonsContainer">
<form action="/dashboard/{{data._id}}/delete" method="GET" class="btnFormAdmin">
    <button type="submit" id="btnDeleteAdmin">Delete your admin profile</button>
</form>
<form action="/dashboard/{{data._id}}/create" method="GET" class="btnFormAdmin">
    <button type="submit" id="btnCreateAdmin">Create a new collaborator profile</button>
</form>
<form action="/dashboard/{{data._id}}/update" method="GET" class="btnFormAdmin">
    <button type="submit" id="btnUpdateAdmin">Modify your admin profile</button>
</form>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>position</th>
      <th>username</th>
      <th>email</th>
      <th>Settings</th>
    </tr>
  </thead>
  <tbody>
    {{#each allUsers}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.position}}</td>
      <td>{{this.username}}</td>
      <td>{{this.email}}</td>
      <td><a href="/dashboard/{{this.administrator}}/{{this._id}}">User details</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>