<div>
{{!-- <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg" alt=""> --}}
{{!-- <p>{{data}}</p> --}}
    <h1>Admin profile</h1>
    <p>Username: {{data.username}}</p>  
    <p>Email: {{data.email}}</p>    
    <p>Admin ID: {{data._id}}</p>    
</div>
<form action="/dashboard/{{data._id}}/delete" method="GET">
    <button type="submit">Delete your admin profile</button>
</form>
<form action="/dashboard/{{data._id}}/create" method="GET">
    <button type="submit">Create a new collaborator profile</button>
</form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>position</th>
      <th>username</th>
      <th>email</th>
      <th>Settings</th>
    </tr>
  </thead>
  <tbody>
    {{#each allUsers}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.position}}</td>
      <td>{{this.username}}</td>
      <td>{{this.email}}</td>
      <td><a href="/dashboard/{{this.administrator}}/{{this._id}}">User details</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{!-- <div>
    <table>
  <tr>
    <th>Header 1</th>
    <th>Header 2</th>
    <th>Header 3</th>
  </tr>
  <tr>
    <td>Row 1, Col 1</td>
    <td>Row 1, Col 2</td>
    <td>Row 1, Col 3</td>
  </tr>
  <tr>
    <td>Row 2, Col 1</td>
    <td>Row 2, Col 2</td>
    <td>Row 2, Col 3</td>
  </tr>
  <tr>
    <td>Row 3, Col 1</td>
    <td>Row 3, Col 2</td>
    <td>Row 3, Col 3</td>
  </tr>
  <tr>
    <td>Row 4, Col 1</td>
    <td>Row 4, Col 2</td>
    <td>Row 4, Col 3</td>
  </tr>
  <tr>
    <td>Row 5, Col 1</td>
    <td>Row 5, Col 2</td>
    <td>Row 5, Col 3</td>
  </tr>
  <tr>
    <td>Row 6, Col 1</td>
    <td>Row 6, Col 2</td>
    <td>Row 6, Col 3</td>
  </tr>
</table> --}}
</div>