<div class="userHud">
  <h1>User profile</h1>
  <img src="{{userData.image}}" alt="user_image">
  <p>Username: {{userData.username}}</p>  
  <p>Email: {{userData.email}}</p> 
  <p>Positon: {{userData.position}}</p>       
  <p>Collaborator ID: {{userData._id}}</p>
</div>
<form action="/dashboard/{{userData.administrator}}/{{userData._id}}/update" method="GET" class="btnFormUser">
  <button type="submit" id="btnUpdateUser">Modify user</button>
</form>
<form action="/dashboard/{{userData.administrator}}/{{userData._id}}/delete" method="GET" class="btnFormUser">
  <button type="submit" id="btnDeleteUser">Delete user</button>
</form>