<h2>User profile</h2>
<div class="userHud">
    <img src="{{data.image}}" alt="user_image">
    <div class="info">
        <p>Username: {{data.username}}</p>
        <p>Email: {{data.email}}</p>
        <p>Position: {{data.position}}</p>
        <p>User ID: {{data._id}}</p>
    </div>
</div>